@import 'nomarlize.scss';
@import 'notFound.scss';


@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('../font/Montserrat-SemiBold.otf');
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url('../font/Montserrat-Regular.otf');
}


@font-face {
    font-family: "Montserrat-Light";
    src: url('../font//Montserrat-Light.otf');
}
$colorLogo : #f85659;
$colorMenu : rgb( 48, 48, 48 );
$colorShopBrecurmbs : rgb( 64, 64, 64 );
$backShopBrecurmbs : #f5f5f5;
$backFooter : #303030;

.pul-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}
.bg-gray {
    background: $backShopBrecurmbs;
}

.error {
    color: $colorLogo;
    font-style: italic;
}

header {
    overflow: auto;
    .logo {
        display: inline-block;
        padding: 32px 0px 32px 0px;
    }

    .nav-inline {
        padding: 32px 0px 32px 0px;
        ul {
            li {
                float: right;
                list-style: none;
                a {
                    text-decoration: none;
                    font-size: 16.013px;
                    font-family: "Montserrat-SemiBold";
                    color: $colorMenu;
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.499;
                    padding: 20px;
                }
            }
        }
    }
}

/*end css for header*/


.brecrumbs {
    background: $backShopBrecurmbs;
    padding: 13px;
    .container {
        span {
            padding: 10px;
            .brecrumbs__home {
                font-size: 18px;
                font-family: "FontAwesome";
                color: $colorShopBrecurmbs;
                text-align: center;             
            }
            .brecrumbs__chevron {
                .fa-chevron-right{
                    font-size: 19.026px;
                    color: $colorLogo;
                }
            }
            a {
                font-family: "Montserrat-SemiBold";
                color: $colorShopBrecurmbs;
                font-weight: bold;
                text-transform: uppercase;
                text-align: left;
                text-decoration: none;
                  
            }
        }
    }
}

/*end css for brecrumbs*/

@mixin  styleTextFilter {
    font-size: 16px;
    font-family: "Montserrat-SemiBold";
    color: rgb( 120, 120, 120 );
    line-height: 1.225;
}


.category {
    margin-top: 80px;
    margin-bottom: 80px;
    .container {
        .left-col {
            .filter-title {
                font-size: 18px;
                font-family: "Montserrat-SemiBold";
                color: $colorShopBrecurmbs;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.089;
                margin-top: 20px;
                
                &:first-child {
                    margin-top: 0px;
                }
            }
            .multi-menu-category {
                &>ul {
                    margin-bottom: 0px;
                    padding-left: 10px;
                    &>ul {
                        padding-left: 20px;
                    }
                    li {
                        list-style: none;
                        cursor: pointer;
                        @include styleTextFilter;
                        line-height: 2.438;
                        text-transform: capitalize;
                    }
                }
            }
            .filter-group-cate {
                border: 1px solid lightgray;
                border-radius: 5px;
                ul {
                    @include styleTextFilter;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
            .filter-group {
                margin-bottom: 20px;
                .list-group-item {
                    label {
                        @include styleTextFilter;
                    }
                }
            }
        }

        .right-col {
            .row-product {
                .col-product {
                    .infoProduct {
                        &__img {
                            height: 350px;
                            img {
                                width : 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
    
                        &__name-product {
                            font-size: 16.018px;
                            font-family: "Montserrat-SemiBold";
                            color: rgb( 48, 48, 48 );
                            text-transform: uppercase;
                            margin-top: 15px; 
                        }
    
                        &__price {
                            font-size: 18.021px;
                            font-family: "Montserrat-Regular";
                            color:$colorLogo;
                            margin-top: 6px;
                        }
    
                        &__add-to-cart {
                            background-color: $colorLogo;
                            // box-shadow: 0px 0px 3px 0px rgb( 0, 0, 1 );
                            width: 132px;
                            margin: 10px auto;
                            // height: 40px;
                            border-radius: 50px;
                            &:hover {
                                background: #cf4a4d;
                            }
                            button {
                                font-size: 10.951px;
                                font-family: "Montserrat-SemiBold";
                                color: rgb( 255, 255, 255 );
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                              
                        }
                    }
                }
            }

            .pagination-group {
                display: flex;
                justify-content: center;
                margin-top: 30px;
                ul {
                    display: flex;
                    li {
                        list-style: none;
                        cursor: pointer;
                        width: 39px;
                        height: 39px;
                        border: 2px solid rgb( 237, 237, 237 );
                        border-radius: 50%;
                        margin-left: 10px;
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:last-child{
                            border: none;
                        }
                        &:first-child{
                            border: none;
                        }
                        a{
                            text-decoration: none;
                            font-size: 16px;
                            font-family: "Montserrat-Regular";
                            color: rgb( 120, 120, 120 );
                            // line-height: 0.75;
                            text-align: center;
                            margin: 0px auto;
                        }
                        &:hover {
                            background: #ededed;
                        }
                    }
                    li.active{
                        list-style: none;
                        cursor: pointer;
                        width: 39px;
                        height: 39px;
                        border: 2px solid rgb( 237, 237, 237 );
                        border-radius: 50%;
                        margin-left: 10px;
                        margin-right: 10px;
                        background: $colorLogo;
                        display: flex;
                        align-items: center;
                        a{
                            font-size: 16px;
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }

            .not-found-product {
                padding: 20px;
                border: 2px solid $colorLogo;
                border-radius: 5px;
                @include styleTextFilter();
            }
        }
    }
}


.about-us {
    background: $backShopBrecurmbs;
    .container {
        padding-top: 100px;
        padding-bottom: 100px;
        .about-us-content {
            .about-title {
                font-size: 16px;
                font-family: "Montserrat-SemiBold";
                color: $colorMenu;
                text-transform: uppercase;
                line-height: 1.5;
            }
            .about-info {
                padding-left: 0px;
                li {
                    list-style-type : none;
                    font-size: 15px;
                    font-family: "Montserrat-Regular";
                    color: $colorShopBrecurmbs;
                    line-height: 2.733;                   
                    a {
                        text-decoration: none;
                        color: $colorShopBrecurmbs;
                    }
                    span {
                        margin-right: 10px;
                    }
                }
            }

            .ins-img-row {
                .ins-img-col {
                    padding-left: 4px;
                    padding-right: 4x;
                    height: 85px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

footer {
    background : $backFooter;
    display: flex;
    .copyright {
        font-size: 15px;
        font-family: "Montserrat-Light";
        color: rgb( 255, 255, 255 );
        line-height: 1.6;   
        padding: 12px 0px 12px 0px;
        .author {
            color: $colorLogo;
        }

    }

    .footer-payment {
        padding: 12px 0px 12px 0px;
        &__item {
            float: right;
            margin-left: 20px;
        }
    }
}


/*-------------------------------CSS for login page----------------------------------------------*/

@mixin div-center {
    background-color: rgb( 255, 255, 255 );
    padding-top: 80px;
    padding-bottom : 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin page-head {
    padding-left: 35px;
    padding-right: 35px;
    h3 {
        font-size: 18px;
        font-family: "Montserrat-SemiBold";
        color: $colorMenu;
        text-transform: uppercase;
        line-height: 1.111;
        margin-top: 30px;
    }
}

@mixin form-style {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 20px;
    input {
        border-radius: 4px;
        background-color: rgb( 237, 237, 237 );
        padding: 15px 12px 15px 12px;
        height: auto;
        margin-bottom: 1.25rem;
    }
    ::placeholder {
        font-size: 14px;
        font-family: "Montserrat-Regular";
        color: rgb( 179, 179, 179 );
        line-height: 7.429;
    }

    .btn-login {
        border-radius: 23px;
        background-color: $colorLogo;
        width: 100%;
        font-size: 10.951px;
        font-family: "Montserrat-SemiBold";
        color: rgb( 255, 255, 255 );
        text-transform: uppercase;
        padding: 15px 12px 15px 12px;
        &:hover {
            background: #cf4a4d;
        }
    }
}

.login-page {
    height: 100vh;
    position: relative;
    &__content {
        @include div-center;
    }
    .login-head {
        @include page-head;
    }

    .form-login {
        @include form-style;
    }
}


/*------------------------------CSS for create page------------------------------------*/

.create-page {
    // height: 100vh;
    // position: relative;
    &__content {
        background-color: rgb( 255, 255, 255 );
        padding-top: 80px;
        padding-bottom : 80px;
    }


    .create-form {
        @include form-style;
        .form-group {
            label {
                font-size: 16px;
                font-family: "Montserrat-SemiBold";
                line-height: 1.25;
            }
        }
        .select-create {
            border-radius: 4px;
            background-color: rgb( 237, 237, 237 );
            padding: 15px 12px 15px 12px;
            height: auto;
            margin-bottom: 1.25rem;
        }

        .multi-check-group {
            position: relative;
            .multi-select-cate-button {
                padding: 15px;
                background: rgb( 237, 237, 237 );
                text-align: center;
                cursor: pointer;
                border-radius: 4px;
            }
            .multi-select-cate {
                &>ul{
                    padding-left: 10px;
                }
                border: 1px solid lightgray;
                padding-top: 20px;
            }
            .checkbox-inline {
                margin-right: 20px;
            }
            .radio-inline {
                input {
                    margin-right: 10px;
                }
                label[class=error] {
                    bottom: -70px;
                }
            }
            label[class=error] {
                position: absolute;
                bottom: -15px;
                left : 0;
            }
        }
    }
}

.notification {
    margin-bottom: 10px;
    .notification-wrap {
        .notification-error {
            li {
                font-family: "Montserrat-Regular";
                font-size: 14px;
                color: $colorLogo;
                &:last-child {
                    display: none;
                }
            }
        }
    }

    .notification-success {
        p{
            color: #33c40e;
            &:last-child {
                display: none;
            }
        }
    }
}