/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

#notfound {
  position: relative;
  height: 100vh;
  background: #030005;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

#notfound .notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

#notfound .notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}

#notfound .notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

#notfound .notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#notfound .notfound a:hover {
  color: #8400ff;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../font/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../font/Montserrat-Regular.otf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../font//Montserrat-Light.otf");
}

.pul-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.bg-gray {
  background: #f5f5f5;
}

.error {
  color: #f85659;
  font-style: italic;
}

header {
  overflow: auto;
}

header .logo {
  display: inline-block;
  padding: 32px 0px 32px 0px;
}

header .nav-inline {
  padding: 32px 0px 32px 0px;
}

header .nav-inline ul li {
  float: right;
  list-style: none;
}

header .nav-inline ul li a {
  text-decoration: none;
  font-size: 16.013px;
  font-family: "Montserrat-SemiBold";
  color: #303030;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.499;
  padding: 20px;
}

/*end css for header*/
.brecrumbs {
  background: #f5f5f5;
  padding: 13px;
}

.brecrumbs .container span {
  padding: 10px;
}

.brecrumbs .container span .brecrumbs__home {
  font-size: 18px;
  font-family: "FontAwesome";
  color: #404040;
  text-align: center;
}

.brecrumbs .container span .brecrumbs__chevron .fa-chevron-right {
  font-size: 19.026px;
  color: #f85659;
}

.brecrumbs .container span a {
  font-family: "Montserrat-SemiBold";
  color: #404040;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
}

/*end css for brecrumbs*/
.category {
  margin-top: 80px;
  margin-bottom: 80px;
}

.category .container .left-col .filter-title {
  font-size: 18px;
  font-family: "Montserrat-SemiBold";
  color: #404040;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.089;
  margin-top: 20px;
}

.category .container .left-col .filter-title:first-child {
  margin-top: 0px;
}

.category .container .left-col .multi-menu-category > ul {
  margin-bottom: 0px;
  padding-left: 10px;
}

.category .container .left-col .multi-menu-category > ul > ul {
  padding-left: 20px;
}

.category .container .left-col .multi-menu-category > ul li {
  list-style: none;
  cursor: pointer;
  font-size: 16px;
  font-family: "Montserrat-SemiBold";
  color: #787878;
  line-height: 1.225;
  line-height: 2.438;
  text-transform: capitalize;
}

.category .container .left-col .filter-group-cate {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.category .container .left-col .filter-group-cate ul {
  font-size: 16px;
  font-family: "Montserrat-SemiBold";
  color: #787878;
  line-height: 1.225;
  padding-top: 10px;
  padding-bottom: 10px;
}

.category .container .left-col .filter-group {
  margin-bottom: 20px;
}

.category .container .left-col .filter-group .list-group-item label {
  font-size: 16px;
  font-family: "Montserrat-SemiBold";
  color: #787878;
  line-height: 1.225;
}

.category .container .right-col .row-product .col-product .infoProduct__img {
  height: 350px;
}

.category .container .right-col .row-product .col-product .infoProduct__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.category .container .right-col .row-product .col-product .infoProduct__name-product {
  font-size: 16.018px;
  font-family: "Montserrat-SemiBold";
  color: #303030;
  text-transform: uppercase;
  margin-top: 15px;
}

.category .container .right-col .row-product .col-product .infoProduct__price {
  font-size: 18.021px;
  font-family: "Montserrat-Regular";
  color: #f85659;
  margin-top: 6px;
}

.category .container .right-col .row-product .col-product .infoProduct__add-to-cart {
  background-color: #f85659;
  width: 132px;
  margin: 10px auto;
  border-radius: 50px;
}

.category .container .right-col .row-product .col-product .infoProduct__add-to-cart:hover {
  background: #cf4a4d;
}

.category .container .right-col .row-product .col-product .infoProduct__add-to-cart button {
  font-size: 10.951px;
  font-family: "Montserrat-SemiBold";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.category .container .right-col .pagination-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.category .container .right-col .pagination-group ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category .container .right-col .pagination-group ul li {
  list-style: none;
  cursor: pointer;
  width: 39px;
  height: 39px;
  border: 2px solid #ededed;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category .container .right-col .pagination-group ul li:last-child {
  border: none;
}

.category .container .right-col .pagination-group ul li:first-child {
  border: none;
}

.category .container .right-col .pagination-group ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat-Regular";
  color: #787878;
  text-align: center;
  margin: 0px auto;
}

.category .container .right-col .pagination-group ul li:hover {
  background: #ededed;
}

.category .container .right-col .pagination-group ul li.active {
  list-style: none;
  cursor: pointer;
  width: 39px;
  height: 39px;
  border: 2px solid #ededed;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  background: #f85659;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category .container .right-col .pagination-group ul li.active a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.category .container .right-col .not-found-product {
  padding: 20px;
  border: 2px solid #f85659;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Montserrat-SemiBold";
  color: #787878;
  line-height: 1.225;
}

.about-us {
  background: #f5f5f5;
}

.about-us .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-us .container .about-us-content .about-title {
  font-size: 16px;
  font-family: "Montserrat-SemiBold";
  color: #303030;
  text-transform: uppercase;
  line-height: 1.5;
}

.about-us .container .about-us-content .about-info {
  padding-left: 0px;
}

.about-us .container .about-us-content .about-info li {
  list-style-type: none;
  font-size: 15px;
  font-family: "Montserrat-Regular";
  color: #404040;
  line-height: 2.733;
}

.about-us .container .about-us-content .about-info li a {
  text-decoration: none;
  color: #404040;
}

.about-us .container .about-us-content .about-info li span {
  margin-right: 10px;
}

.about-us .container .about-us-content .ins-img-row .ins-img-col {
  padding-left: 4px;
  padding-right: 4x;
  height: 85px;
}

.about-us .container .about-us-content .ins-img-row .ins-img-col img {
  width: 100%;
  height: 100%;
}

footer {
  background: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .copyright {
  font-size: 15px;
  font-family: "Montserrat-Light";
  color: white;
  line-height: 1.6;
  padding: 12px 0px 12px 0px;
}

footer .copyright .author {
  color: #f85659;
}

footer .footer-payment {
  padding: 12px 0px 12px 0px;
}

footer .footer-payment__item {
  float: right;
  margin-left: 20px;
}

/*-------------------------------CSS for login page----------------------------------------------*/
.login-page {
  height: 100vh;
  position: relative;
}

.login-page__content {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.login-page .login-head {
  padding-left: 35px;
  padding-right: 35px;
}

.login-page .login-head h3 {
  font-size: 18px;
  font-family: "Montserrat-SemiBold";
  color: #303030;
  text-transform: uppercase;
  line-height: 1.111;
  margin-top: 30px;
}

.login-page .form-login {
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 20px;
}

.login-page .form-login input {
  border-radius: 4px;
  background-color: #ededed;
  padding: 15px 12px 15px 12px;
  height: auto;
  margin-bottom: 1.25rem;
}

.login-page .form-login ::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Montserrat-Regular";
  color: #b3b3b3;
  line-height: 7.429;
}

.login-page .form-login :-ms-input-placeholder {
  font-size: 14px;
  font-family: "Montserrat-Regular";
  color: #b3b3b3;
  line-height: 7.429;
}

.login-page .form-login ::-ms-input-placeholder {
  font-size: 14px;
  font-family: "Montserrat-Regular";
  color: #b3b3b3;
  line-height: 7.429;
}

.login-page .form-login ::placeholder {
  font-size: 14px;
  font-family: "Montserrat-Regular";
  color: #b3b3b3;
  line-height: 7.429;
}

.login-page .form-login .btn-login {
  border-radius: 23px;
  background-color: #f85659;
  width: 100%;
  font-size: 10.951px;
  font-family: "Montserrat-SemiBold";
  color: white;
  text-transform: uppercase;
  padding: 15px 12px 15px 12px;
}

.login-page .form-login .btn-login:hover {
  background: #cf4a4d;
}

/*------------------------------CSS for create page------------------------------------*/
.create-page__content {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.create-page .create-form {
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 20px;
}

.create-page .create-form input {
  border-radius: 4px;
  background-color: #ededed;
  padding: 15px 12px 15px 12px;
  height: auto;
  margin-bottom: 1.25rem;
}

.create-page .create-form ::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Montserrat-Regular";
  color: #b3b3b3;
  line-height: 7.429;
}

.create-page .create-form :-ms-input-placeholder {
  font-size: 14px;
  font-family: "Montserrat-Regular";
  color: #b3b3b3;
  line-height: 7.429;
}

.create-page .create-form ::-ms-input-placeholder {
  font-size: 14px;
  font-family: "Montserrat-Regular";
  color: #b3b3b3;
  line-height: 7.429;
}

.create-page .create-form ::placeholder {
  font-size: 14px;
  font-family: "Montserrat-Regular";
  color: #b3b3b3;
  line-height: 7.429;
}

.create-page .create-form .btn-login {
  border-radius: 23px;
  background-color: #f85659;
  width: 100%;
  font-size: 10.951px;
  font-family: "Montserrat-SemiBold";
  color: white;
  text-transform: uppercase;
  padding: 15px 12px 15px 12px;
}

.create-page .create-form .btn-login:hover {
  background: #cf4a4d;
}

.create-page .create-form .form-group label {
  font-size: 16px;
  font-family: "Montserrat-SemiBold";
  line-height: 1.25;
}

.create-page .create-form .select-create {
  border-radius: 4px;
  background-color: #ededed;
  padding: 15px 12px 15px 12px;
  height: auto;
  margin-bottom: 1.25rem;
}

.create-page .create-form .multi-check-group {
  position: relative;
}

.create-page .create-form .multi-check-group .multi-select-cate-button {
  padding: 15px;
  background: #ededed;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.create-page .create-form .multi-check-group .multi-select-cate {
  border: 1px solid lightgray;
  padding-top: 20px;
}

.create-page .create-form .multi-check-group .multi-select-cate > ul {
  padding-left: 10px;
}

.create-page .create-form .multi-check-group .checkbox-inline {
  margin-right: 20px;
}

.create-page .create-form .multi-check-group .radio-inline input {
  margin-right: 10px;
}

.create-page .create-form .multi-check-group .radio-inline label[class=error] {
  bottom: -70px;
}

.create-page .create-form .multi-check-group label[class=error] {
  position: absolute;
  bottom: -15px;
  left: 0;
}

.notification {
  margin-bottom: 10px;
}

.notification .notification-wrap .notification-error li {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  color: #f85659;
}

.notification .notification-wrap .notification-error li:last-child {
  display: none;
}

.notification .notification-success p {
  color: #33c40e;
}

.notification .notification-success p:last-child {
  display: none;
}
/*# sourceMappingURL=style.css.map */